<?xml version="1.0"?>
<ruleset name="project">
    <description>This project coding standard</description>

    <file>Classes/</file>
    <file>Tests/</file>
    <file>Configuration/</file>
    <file>ext_emconf.php</file>
    <file>ext_localconf.php</file>

    <rule ref="PSR12" />
    <rule ref="Generic.PHP.RequireStrictTypes">
        <exclude-pattern>ext_*.php</exclude-pattern>
        <exclude-pattern>Configuration/*</exclude-pattern>
    </rule>
</ruleset>
