<?xml version="1.0"?>
<ruleset name="project">
    <description>This project coding standard</description>

    <file>Classes/</file>
    <file>Configuration/</file>
    <file>ext_emconf.php</file>
    <file>ext_localconf.php</file>

    <rule ref="PSR12" />
</ruleset>
