parameters:
    level: max
    paths:
        - Classes
        - Tests
        - Configuration
        - ext_localconf.php
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
