<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:sd="http://typo3.org/ns/SkillDisplay/SkilldisplayContent/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <a href="{be:uri.editRecord(
        uid: uid,
        table: 'tt_content'
    )}">
        <ol>
            <f:for each="{skillSets}" as="skillSet">
                <li>
                    <f:if condition="{skillSet.error}">
                        <f:then>
                            <f:be.infobox state="2">{skillSet.error}</f:be.infobox>
                        </f:then>
                        <f:else>
                            <strong>{skillSet.title}</strong><br>
                            {sd:verification.url(skillSet: skillSet.id, campaign: skilldisplay_campaign)}
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ol>
    </a>
</html>
