<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:sd="http://typo3.org/ns/SkillDisplay/Typo3Extension/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <a href="{be:uri.editRecord(
        uid: uid,
        table: 'tt_content'
    )}">
        <ol>
            <f:for each="{skillSets}" as="skillSet">
                <li>
                    <strong>{skillSet.name}</strong><br>
                </li>
            </f:for>
        </ol>
    </a>
</html>
