<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sd="http://typo3.org/ns/SkillDisplay/Typo3Extension/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:for each="{skills}" as="skill">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{skill.title}</h5>
                <p class="card-text">{skill.description -> f:format.html()}</p>
                <sd:verification.button skill="{skill.id}"/>
            </div>
        </div>
    </f:for>
</html>
