<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sd="http://typo3.org/ns/SkillDisplay/Typo3Extension/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:for each="{skills}" as="skill">
        {f:render(partial: 'VerificationBox', arguments: {
            title: skill.title,
            detailUrl: 'https://my.skilldisplay.eu/skill/{skill.id}/0',
            brandLogoUrl: skill.mediaPublicUrl,
            verificationUrl: '{sd:verification.url(skill: skill.id)}',
            description: skill.description
        })}
    </f:for>
</html>
